body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #e6ffe6;
    background-color: #006633;
    background-image: url(https://images.wallpaperscraft.ru/image/listya_rastenie_vetki_zelenyj_korichnevyj_120354_1920x1080.jpg);
    background-size: 100% auto;
}
main {
    background-color: 	rgba(11, 15, 13, 0.7);
    border-radius: 2%;
    margin: 50px 5%;    
}
form, fieldset {    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
form > * {
    margin: 10px;
}
#top {
    margin: 70px 0 50px 0;
    text-align: center;
}
h1 {
    margin-bottom: 0px;
    padding-top: 15px;
}
input, textarea, select, fieldset {
    border-radius: 5px;
    border-color: #e6ffe6;
}
input, textarea, select {
    background: rgba(230, 255, 230, 0.7);
}
.first-part, fieldset, textarea {
    width: 40vw;
}
textarea {
    resize: none;
}
.right-bar {
    display: inline-block;
    width: 60%;
    text-align: left;
}
.labels {
    display: inline-block;
    width: 30%;
    text-align: right;
}
button{    
    background-color: rgb(11, 15, 13);
    color: rgba(230, 255, 230, 0.9);	
    padding: 10px 20px;    
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(230, 255, 230, 0.4);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    margin: 50px 0px 20px 0px;
}
button:hover {
    background-color: rgba(230, 255, 230, 0.9);
    color: rgba(11, 15, 13, 0.9); 
}
a {
    color: #e6ffe6;
}
a:hover {
    background:	rgba(230, 255, 230, 0.4);
}
a:active {
    color: #e6ffe6;  
}